.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Form {
  display: flex;
  flex-direction: column;
}

.Form-Item {
  padding: 8px 4px;
  border-radius: 8px;
  border: none;
  margin-bottom: 12px;
}

button.Primary {
  background-color:#52B14D;
  color: white;
  padding: 8px 4px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
