@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.bunny.net/css?family=poppins:200,400,500,600);

@layer base {
  :root {
    --color-btn-bright: 48 48 198; /* #3030c6 */
    --color-light-gray: 229 234 254; /* #e5eaf4 */
    --color-text-primary: 73 72 149; /* #494895 */
    --color-back: 249 250 255; /* #F9FAFF */
    --color-g-primary: 64 90 224; /* #4054e0 */
    --color-g-secondary: 190 98 230; /* #b26ee6 */
    --color-inverse: 255 255 255; /* #FFFFFF */
    --color-tab-selected: var(--color-btn-bright);
  }

  .mode-light {
    --color-pure: 250 250 250; /* #FFFFFF */
    --color-inverse: 21 23 46; /* #15172E */
    --color-tab-selected: var(--color-btn-bright);
  }

  .mode-dark {
    --color-pure: 0 0 0; /* #000000 */
    --color-inverse: 249 250 255; /* #F9FAFF */
    --color-tab-selected: var(--color-inverse);
  }

  .theme-sanctum.mode-light {
    --color-btn-bright: 48 48 198; /* #3030c6 */
    --color-light-gray: 229 234 254; /* #e5eaf4 */
    --color-text-primary: 73 72 149; /* #494895 */
    --color-back: 249 250 255; /* #F9FAFF */
    --color-g-primary: 64 90 224; /* #4054e0 */
    --color-g-secondary: 190 98 230; /* #b26ee6 */
  }

  .theme-sanctum.mode-dark {
    --color-light-gray: 58 64 95; /* #3a4e5f */
    --color-text-primary: 226 230 255; /* #e2eafb */
    --color-back: 21 23 46; /* #15172E */
    --color-g-primary: 21 32 89; /* #152059 */
    --color-g-secondary: 140 45 114; /* #8c2d72 */
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  dl,
  dt,
  dd,
  table,
  tr,
  td,
  th,
  form,
  fieldset,
  legend,
  blockquote,
  address,
  pre,
  code,
  samp,
  label {
    @apply text-skin-text-primary;
  }
}
