@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-btn-bright: 48 48 198; /* #3030c6 */
    --color-light-gray: 229 234 254; /* #e5eaf4 */
    --color-text-primary: 73 72 149; /* #494895 */
  }

  .theme-sanctum.mode-light {
    --color-btn-bright: 48 48 198; /* #3030c6 */
    --color-light-gray: 229 234 254; /* #e5eaf4 */
    --color-text-primary: 73 72 149; /* #494895 */
  }

  .theme-sanctum.mode-dark {
    --color-light-gray: 58 64 95; /* #3a4e5f */
    --color-text-primary: 226 230 255; /* #e2eafb */
  }
}
